if ARCH_MESON6

config MACH_MESON6_SKT
	depends on ARCH_MESON6
	bool "Meson6 socket board"
	default y 
	help
          Support for Amlogic Meson6 socket board.

config MACH_MESON6_REF
	depends on ARCH_MESON6
	bool "Meson6 reference board"
	default y 
	help
          Support for Amlogic Meson6 reference development platform.

config MACH_MESON6_G02
        depends on ARCH_MESON6
        bool "Meson6 g02 board"
        help
          Support for Amlogic Meson6 g02 reference platform.

config MACH_MESON6_ATV520
        depends on MACH_MESON6_G02
        bool "MyGicca ATV 520"
        default y
	help
          Support for Mygicca atv520.
config MACH_MESON6_ATV1200
        depends on MACH_MESON6_G02
        bool "MyGicca ATV 1200"
        help
          Support for Mygicca atv1200.


endif # ARCH_MESON6
